/chicago/
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.ipynb_checkpoints/sydney_weather-checkpoint.ipynb
/sydney_weather_bk1.ipynb
/.ipynb_checkpoints/sydney_weather_bk1-checkpoint.ipynb
/rain_aus/weatherAUS.csv
